.FilterPane {
  display: inline-block;
  flex-direction: column;
  width: 20%;
  vertical-align: top;
}

.Buses {
  display: inline-block;
  flex-direction: column;
  width: 78%;
  margin-left: 2%;
}

.BusesList {
  list-style: none;
}
